@page "/counter"

@inject IStringLocalizer<App> Localizer;

<PageTitle>@Localizer["CounterTitle"]</PageTitle>

<h1>Counter</h1>

<p role="status">@Localizer["CounterText"]: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}